<h1>Edit Match Report</h1>

<%= render 'form', match_report: @match_report %>

<%= link_to 'Show Match Report', [@match_report.league, @match_report] %> |
<%= link_to 'Back to Match Reports', league_match_reports_path(@league) %>